body_utils/
dataset/
utils/__pycache__
logs
temporal_datadump/
spatial_log/
SpatialTransformer/data/__pycache__
wandb/
liftup_log/
temporal_log/
LAFAN
finetune_temporal_log/
temporal_pretrained/
posebridge_log/
finetune_liftup_log/
inference_posebridge/
test_02/
globaltrajectory_log/
globaltrajectory_yonly_log/
posebridge_inference_log/
posebridge_eval_log/
pretrained_models/
pretrained_model/
visualize/
evaluation_01/